<div class="row">
  <div class="col s12">

    <button (click)="selectedScoutMissions($event)" class="waves-effect waves-light btn">button</button>

    <ul class="tabs">
      <li class="tab col s3"><a href="#scoutMission" class="active">Scout Missions</a></li>
      <li class="tab col s3"><a href="#schedule">Schedule</a></li>
    </ul>
  </div>
  <div id="scoutMission" class="col s12">
    <div class="card-panel">
      <h5 class="center-text">Scout Missions</h5>
      <table class="responsive-table striped centered">
        <thead>
          <tr>
            <th>Title</th>
            <th>ID </th>
            <th>Farm ID</th>
            <th>Date</th>
            <th>Complete</th>
            <th>Allocate Worker</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let scoutMission of scoutMissions">
            <td>{{scoutMission.title}}</td>
            <td>{{scoutMission.id}}</td>
            <td>{{scoutMission.farm_id}}</td>
            <td>{{scoutMission.date}}</td>
            <td>{{scoutMission.complete}}</td>
            <td>

              <!-- <div name="test" class="input-field col s12">
                    <select id="selectedClient" 
                     [ngModel]="selectedClient" (ngModelChange)="onSelectedClientChange($event)" name="selectedClient" 
                     #createSelectedClient="ngModel">
                      <option value="" disabled selected>Choose your option</option>
                      <option *ngFor="let client of clients" let i="index" value="client.id" [value]="client.id">{{client.name}}</option>
                     <label>select</label>
                    </select>
                  </div> -->

              <div name="test" class="input-field col s12">
                <!-- <select id="selectedClient" [ngModel]="selectedClient" (ngModelChange)="onSelectedClientChange()"
                  name="selectedClient" #createSelectedClient="ngModel">
                  <option value="" disabled selected>Choose your option</option>
                  <option *ngFor="let client of clients" let i="index" value="client.id" [value]="client.id">
                    {{client.name}}</option>
                  <label>select</label>
                </select> -->


                <select id="selectedClient" [ngModel]="selectedClient" (ngModelChange)="onSelectedClientChange($event)"
                  name="selectedClient" #updateSelectedClient="ngModel" required>
                  <option value="" disabled selected>Select Client</option>
                  <option *ngFor="let client of clients" let i=index value="client.id"
                    [value]="client.id">{{client.name}}</option>
                </select>

              </div>




            </td>

            <td> <button (click)="selectedScoutMissions(scoutMission.id, selectedClient)"
                class="waves-effect waves-light btn">button</button></td>


          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div id="schedule" class="col s12">

    <div class="card-panel">
      <h5 class="center-text">Clients</h5>
      <table class="responsive-table highlight striped centered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email </th>
            <th>User ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.user_id}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>