/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

nav {
    background-color: #30435E !important
}

td {
    font-size: 14px;
}

th {
    font-size: 12px;
}

.sidenav {
    width: 210px !important;
    /* border-right: 1px solid #000; */
    top: 0;
    margin:0;
    /* padding-bottom: 60px; */
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
    
}

.sidenav .user-view {
    padding: 11px 42px 0 !important;
    margin-bottom: 18px;
    
}

.sidenav .divider {
    margin: 0px 0 0 0;
}
.sidenav a{
    color: #fff;
    padding: 22px 22px 22px 42px;
}
.sidenav li.active {
    background-color: #30435E;
    
}

.headeer,
.main,
.footer {
    padding-left: 300px
}

@media only screen and (min-width: 992px) {
    .container {
        width: 100%;
    }
}
.container{
    margin: 0 auto;
    max-width: 1280;
    width: 90%;
}

.card-panel{
    padding: 10pc;
    width: 100%;
}

.logo-footer{
    position: absolute;
    
}
.app-content{
    padding-top: 20px;
}
.center-text{
    text-align: center;
}
.tab-bar{
    margin-top: 40px !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #30435E !important;
}

.tabs .indicator {
   
    background-color: #30435E !important;
}

.tabs .tab a {
    color: #30435E !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(48, 67, 94, 0.363) !important;
}

.btn, .btn-large, .btn-small {
    background-color: #30435E !important;
}

.center-spinner{
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}